/* @use imports partials (files with _name is treated as partials)
the filename without _ is used as namespace
you can change namespace by using the as keyword, and the name of the new namespace


*/
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&family=Overpass:wght@300;500;700&display=swap");
/*this is an example of one mixin in one partial controlling one section of the site
 use colors partial to get acces to the color variables in this partial
*/
/*this is an example of multiple mixins in one partial controlling multiple sections of the site
 use colors partial to get acces to the color variables in this partial
*/
/*this is an example of a partial with a mixin that styles form elements on the site
 use colors partial to get acces to the color variables in this partial
*/ /*font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Overpass', sans-serif;*/
/* example of a mixin made inline defining the code in the mixin and using it in an include
 inline mixin defined by @mixin,  can be used in the same document, without @use.
*/
body {
  width: 400px;
  margin: auto;
  background-color: #e64448;
  font-family: "Overpass", sans-serif;
}

header {
  background-color: white;
  padding-left: 5px;
  padding-right: 25px;
}

.logoBox {
  width: 100%;
  text-align: center;
  height: 4rem;
}
.logoBox .logo {
  height: 2em;
}

.local {
  display: block;
  background-color: #e64448;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
}
.local p {
  color: #e2e1df;
  font: weight 300px;
}
.local h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #3c3a48;
  font-weight: bold;
}

.bikes {
  background-color: #696c6d;
  text-align: center;
}

.signup {
  display: block;
  background-color: #89c5c7;
  color: #0b354b;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
}
.signup h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #696c6d;
}
.signup label {
  display: block;
  margin-bottom: 5px;
  color: #0b354b;
}
.signup input {
  display: block;
  margin-bottom: 20px;
}

.about {
  /*BP breakpoint for extra small devices*/
  /*BP breakpoint for small devices*/
  /*BP breakpoint for medium devices*/
  /*BP breakpoint for large devices*/
  /*BP breakpoint for extra large devices*/
  /*BP breakpoint for extra small devices*/
  /*BP breakpoint for small devices*/
  /*BP breakpoint for medium devices*/
  /*BP breakpoint for large devices*/
  /*BP breakpoint for extra large devices*/
  /*BP breakpoint for extra small devices*/
  /*BP breakpoint for small devices*/
  /*BP breakpoint for medium devices*/
  /*BP breakpoint for large devices*/
  /*BP breakpoint for extra large devices*/
  /*BP breakpoint for extra small devices*/
  /*BP breakpoint for small devices*/
  /*BP breakpoint for medium devices*/
  /*BP breakpoint for large devices*/
  /*BP breakpoint for extra large devices*/
  /*BP breakpoint for extra small devices*/
  /*BP breakpoint for small devices*/
  /*BP breakpoint for medium devices*/
  /*BP breakpoint for large devices*/
  /*BP breakpoint for extra large devices*/
}
@media only screen and (max-width: 600px) {
  .about {
    display: block;
    background-color: #eab244;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
  }
  .about h1 {
    color: #e64448;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;
  }
  .about p {
    color: #0b354b;
  }
}
@media only screen and (max-width: 600px) {
  .about {
    display: block;
    background-color: #0b354b;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
  }
  .about h1 {
    color: #e64448;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;
  }
  .about p {
    color: #696c6d;
  }
}
@media only screen and (min-width: 768px) {
  .about {
    display: block;
    background-color: #0b354b;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
  }
  .about h1 {
    color: #e64448;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;
  }
  .about p {
    color: #696c6d;
  }
}
@media only screen and (min-width: 992px) {
  .about {
    display: block;
    background-color: rgb(46, 184, 57);
    color: #0b354b;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
  }
  .about h1 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #696c6d;
  }
}
@media only screen and (min-width: 1200px) {
  .about {
    display: block;
    background-color: rgb(244, 221, 108);
    color: #0b354b;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
  }
  .about h1 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #696c6d;
  }
}/*# sourceMappingURL=main.css.map */