// colors
$darkOrange: #e64448;
$yellow: #eab244;
$brightBlue: #89c5c7;
$lightBlue: #89c5c7;
$darkBlue: #0b354b;

$brightGreen: rgb(46, 184, 57);
$brightYellow: rgb(244, 221, 108);
// greys
$white: white;
$coolGrey: #696c6d;
